body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f2027;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

a {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: #00c6ff;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}
